Source: conveyor
Section: main
Priority: extra
Maintainer: MakerBot Industries dev team <dev@makerbot.com>
Build-Depends: debhelper (>= 8.0.0), zlib1g-dev, libqt4-dev, python2.7, cdbs, makerbot-driver, libjsoncpp-dev, mb-libjsonrpc-dev (>=2.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/makerbot/Prototype
#Vcs-Git: git://git.debian.org/collab-maint/conveyor.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/conveyor.git;a=summary

Package: conveyor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g, libqtcore4, python2.7, adduser (>= 3.11), makerbot-driver, miracle-grue (>=2.0.0), mb-libjsonrpc (>=2.0.0), mb-skeinforge (>=0.1), mb-pyserial (>=2.0.0), sudo
Description: Convey print information from applications to a 3d printer.
 Conveyor is a process that manages 3d printers and dispatches prints to them.

Package: conveyor-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mb-libjsonrpc-dev(>=2.0.0), conveyor (>=2.0.0)
Description: Development files for conveyor service
